@{
    ViewBag.Title = "Change Password - Webster Corporation";
}

<!-- CSS Change Password -->
@Styles.Render("~/Content/css/change-password.css")

<!-- Body -->
<div class="main-content">
    <div class="breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">@Html.ActionLink("Home", "", "Home")</li>
                    <li class="breadcrumb-item">@Html.ActionLink("User", "", "User")</li>
                    <li class="breadcrumb-item">Change Password</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="section-gap">
        <div class="container">
            <div class="row row10">
                <div class="col-md">
                    <div class="information-inner">
                        <div class="card rounded-sm bg-white">
                            <div class="card-header bg-transparent rounded-0 border-0">
                                <div class="heading-m1">
                                    <div class="title">Change Password</div>
                                </div>
                            </div>
                            @if (ViewBag.fail != null)
                            {
                                <div class="alert alert-warning" role="alert">
                                    <b>@ViewBag.fail</b>
                                </div>
                            }
                            <div class="card-body">
                                <div class="information-view" id="informationView">
                                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-detail" }))
                                    {
                                        <div class="information-list">
                                            <div class="form-group">
                                                <label for="cpass"><em>*</em> Current Password:</label>
                                                <input type="password" class="form-control" id="cpass" name="CurrentPassword">
                                                <div id="c-eye">
                                                    <i class="far fa-eye"></i>
                                                </div>
                                                <br />
                                                @Html.ValidationMessage("CurrentPassword", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label for="npass"><em>*</em> New Password:</label>
                                                <input type="password" class="form-control" id="npass" name="NewPassword">
                                                <div id="n-eye">
                                                    <i class="far fa-eye"></i>
                                                </div>
                                                <br />
                                                @Html.ValidationMessage("NewPassword", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label for="cfpass"><em>*</em> Confirm Password:</label>
                                                <input type="password" class="form-control" id="cfpass" name="ConfirmPassword">
                                                <div id="cf-eye">
                                                    <i class="far fa-eye"></i>
                                                </div>
                                                <br />
                                                @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="mt-5 pt-4 border-top text-center text-md-left">
                                            <input type="submit" class="btn blue" value="Change">
                                            @Html.ActionLink("Cancel", "", "User", new { area = "" }, new { @class = "btn btn-secondary" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>